<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </div>

  <div>
    <%= form.label :body %>
    <div><%= form.text_area :body %></div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>