<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<div>
  <%= link_to "Edit Article", edit_article_path(@article) %>
</div>

<div>
  <%= link_to "Destroy", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
</div>

<div>
  <%= link_to "Back", root_path %>
</div>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<h2>Comments</h2>
<%= render @article.comments %>
